<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="./css/app.css" type="text/css" />
</head>

<body>
    <div id="app">
        <div style="display: flex;justify-content:center;margin-bottom:12px;font-size:2rem">
            <span id="title">Games</span>
        </div>
        <div class="grid-container">
            <div class="grid">
                {{#each cards}}
                <div class="card">
                    <a href="{{this.url}}" class="card-wrapper">
                        <div class="name-container">
                            <span class="name">{{this.name}}</span>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>
<script src="/js/app.js"></script>

</html>