:root {
  --primary-color: #fd701f;
  --plight-color: #ffa150;
  --pdark-color: #c34000;
  --secondary-color: #2e1143;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  color: white;
  margin: 0;
  background: radial-gradient(
    at 0% 108%,
    var(--primary-color) 2%,
    #742637 58%,
    var(--secondary-color) 92%
  )
  no-repeat;
}
#root {
  width: 100%;
  height: 100%;
}

.box {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
}

.results {
  display: inline-flex;
  justify-content: space-around;
}

.scoreboard {
  display: inline-flex;
  flex-direction: column;
  color: white;
  align-items: center;
}
.score-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background: radial-gradient(
    circle at 10% 50%,
    var(--primary-color) 30%,
    var(--secondary-color)
  );
}

.overlay {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  position: fixed;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.resultMessageContainer{
  font-size: 2rem;
}
.overlay-container {
  position: relative;
  width: inherit;
  height: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.overlay button.overlay-button {
  width: 15vw;
  height: 15vw;
  max-width: 150px;
  max-height: 150px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 4px 5px rgba(253, 112, 31, 0.2);
}

.overlay button.overlay-button i.img-icon {
  font-size: 24px;
  font-size: 10vw;
  opacity: 0.8;
  color: white;
}

.button-box {
  display: inline-flex;
  flex-direction: column-reverse;
  width: auto;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  position: relative;
  justify-content: space-evenly;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.scene {
  width: 25vw;
  height: 25vw;
  perspective: 600px;
  margin: 4px;
  box-shadow: 2px 2px 4px 5px rgba(253, 112, 31, 0.2);
  overflow: hidden;
  border-radius: 4px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face--front {
  cursor: pointer;
}

.card__face--back {
  transform: rotateY(180deg);
}
.card.is-flipped {
  transform: rotateY(180deg);
}
img {
  vertical-align: bottom;
  max-width: 100%;
  width: auto;
  height: auto;
  min-width: 25vw;
  min-height: 25vw;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.6);
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.img-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
.img {
  width: 32px;
  height: 32px;
}
.icon img {
  min-width: 32px;
  min-height: 32px;
}

.icon {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.6);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

button {
  padding: 8px 12px;
  font-size: 24px;
}

.information-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#more-info {
  background-color: #00c853;
  color: white;
  outline: none;
  border: 1px solid #009624;
}
.information-list-container {
  display: inline-flex;
  width: 100vw;
  align-self: center;
  overflow: auto;
}
ul.information-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
  height: 100vh;
}

.informationListUp{
  animation: informationscrollup 800ms ease-out 0s 1 normal forwards;
}

.informationListDown{
  animation: informationscrolldown 800ms ease-out 0s 1 normal forwards;
} 
@keyframes informationscrollup{
  0%{
    transform:translateY(95vh);
  }
  100%{
    transform: translateY(0vh);
  }
}

@-moz-keyframes informationscrollup{
  0%{
    transform:translateY(95vh);
  }
  100%{
    transform: translateY(0vh);
  }
}

@-o-keyframes informationscrollup{
  0%{
    transform:translateY(95vh);
  }
  100%{
    transform: translateY(0vh);
  }
}

@-webkit-keyframes informationscrollup{
  0%{
    transform:translateY(95vh);
  }
  100%{
    transform: translateY(0vh);
  }
}


@keyframes informationscrolldown{
  0%{
    transform:translateY(5vh);
  }
  100%{
    transform: translateY(90vh);
  }
}

@-moz-keyframes informationscrolldown{
  0%{
    transform:translateY(5vh);
  }
  100%{
    transform: translateY(90vh);
  }
}

@-o-keyframes informationscrolldown{
  0%{
    transform:translateY(5vh);
  }
  100%{
    transform: translateY(90vh);
  }
}

@-webkit-keyframes informationscrolldown{
  0%{
    transform:translateY(5vh);
  }
  100%{
    transform: translateY(90vh);
  }
}

li.information-list-item {
  width: 100vw;
  display: flex;
  margin: 8px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.7);
}

li.information-list-item .image-container {
  width: 100vw;
  margin: 16px;
}

li.information-list-item .image-container p {
  text-align: center;
  font-size: 1.25rem;
  color: black;
}

li.information-list-item .text-container {
  margin: 0 8px;
}

li.information-list-item .text-container p {
  padding: 8px 28px;
  font-size: 1.2rem;
}
.more-button {
  display: inline-flex;
  justify-content: center;
}

.displayNone {
  display: none !important;
}

.information-image {
  max-width: 90vw;
  max-height: 90vw;
}

button.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: 2px 2px 4px 0 rgba(0, 150, 36, 0.6);
  outline: none;
}

#refresh-container {
  cursor: pointer;
}
#restore-container {
  cursor: pointer;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .information-image {
    min-width: 90vw;
    min-height: 90vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .scene {
    width: 20vw;
    height: 20vw;
  }
  img {
    min-width: 20vw;
    min-height: 20vw;
  }
  .information-container {
    width: 95vw;
  }
  .information-image {
    min-width: 40vw;
    min-height: 40vw;
  }
  li.information-list-item .image-container {
    width: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .scene {
    width: 15vw;
    height: 15vw;
  }

  img {
    min-width: 15vw;
    min-height: 15vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .scene {
    width: 14vw;
    height: 14vw;
    margin: 6px;
  }
  img {
    min-width: 14vw;
    min-height: 14vw;
  }
  .information-container {
    width: 95vw;
  }
  .information-image {
    min-width: auto;
    min-height: auto;
    max-width: 200px;
    max-height: 200px;
  }
  li.information-list-item .image-container {
    width: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .information-image {
    max-width: 15vw;
    max-height: 15vw;
  }
  li.information-list-item .image-container {
    width: auto;
  }
}
