:root {
  --primary-color: #fd701f;
  --plight-color: #ffa150;
  --pdark-color: #c34000;
  --secondary-color: #2e1143;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  min-height: 100vh;
  color: white;
  margin: 0;
  background: radial-gradient(
      at 0% 108%,
      var(--primary-color) 2%,
      #742637 58%,
      var(--secondary-color) 92%
    )
    no-repeat;
}

#app {
  width: 100vw;
  min-height: 100vh;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}

.card {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 8px;
  height: auto;
  width: 20vw;
  max-width: 200px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px;
}

a.card-wrapper {
  display: inline-flex;
  flex-direction: column;
  color:white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.name-container{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  flex-direction: row;
  width: 20vw;
  max-width: 200px;
  height: 20vw;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  background-color: var(--primary-color);
  box-shadow: 2px 2px 4px 5px rgba(253, 112, 31, 0.2);
  border-radius:4px;
}

.name-container span.name{
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
}
